@model Kurs
<h2>Kurs Listesi</h2>
<hr>
<form asp-controller="Kurs" asp-action="Create" method="post">
   
    <div class="mb-3">
        <label asp-for="Baslik" class="form-label">Baslik</label>
        <input asp-for="Baslik" class="form-control">
    </div>
    <div class="mb-3">
        <label asp-for="OgretmenId" class="form-label">Öðretmen</label>
        <select asp-for="OgretmenId" asp-items="ViewBag.Ogrenciler" class="form-control"></select>
        <option value="">Seçiniz</option>
    </div>
   
    <button type="submit" class="btn btn-primary">Kaydet</button>
</form>